{% extends "core/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mx-auto text-center mx-auto">
        <p class="display-4 my-3 text-white">Your password has been reset successfully. </p>
        <button class="btn btn-primary">
            <a href="{% url 'login' %}" style="color:white;text-decoration: none">Click here to login</a> 
        </button>
      </div>
    </div>
  </div>

{% endblock %}