{% extends "core/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card reset_pw">
            <div class="d-flex justify-content-center">
                <h3 id="form-title">RESET PASSWORD</h3>
            </div>
            <div class="d-flex justify-content-center form_container">
                <form method="post">
                    {% csrf_token %}
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
                        </div>
                        {{form.email}}
                    </div>
                    {% for error in form.email.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                    <div class="d-flex justify-content-center mt-3 login_container">
                        <input class="btn login_btn" type="submit" value="RESET">
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock content %}