{% extends "core/base.html" %}
{% load static %}

{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-5">
  <div class="text-white">
    <h1 class="text-center my-3">Create Order</h1>
      <form method="post">
      {% csrf_token %}
      <div class="form-group">
          <label for="type">Type:</label>
          <select id="type" name="type" class="form-control">
            <option value="buy">Buy</option>
            <option value="sell">Sell</option>
          </select>
      </div>
      <div class="form-group">
          <label for="btc_amount">BTC amount:</label>
          <input type="number" step="0.0001" min="0.0001" id="btc_amount" name="btc_amount" class="form-control" required>
          {% if form.btc_amount.errors %}
            <div class="text-danger">
              {% for error in form.btc_amount.errors %}
                {{ error }}
              {% endfor %}
            </div>
          {% endif %}
      </div>
      <div class="form-group">
          <label for="btc_unit_price">BTC unit price:</label>
          <input type="number" step="0.01" min="0" id="btc_unit_price" name="btc_unit_price" class="form-control" required>
          {% if form.btc_unit_price.errors %}
              <div class="text-danger errors">
                  {% for error in form.btc_unit_price.errors %}
                      {{ error }}
                  {% endfor %}
              </div>
          {% endif %}
      </div>
      {% if form.non_field_errors %}
        <div class="text-danger">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        </div>
      {% endif %}
      <button type="submit" class="btn btn-primary create-order">Create Order</button>
      </form>
      <div class="container">
        {% if messages %}
          {% for message in messages %}
            {% if message.tags == "success" %}
                <p class="success-message">{{ message }}</p>
            {% else %}
                <p class="error-message">{{ message }}</p>
            {% endif %}
          {% endfor %}
        {% endif %}
    
      </div>
  </div>
</div>


{% endblock content %}